

<div class="col-6 offset-2">
  <div class="card mt-2 ">
    <div class="card-header">
      {{employee.name}}
    </div>
    <div class="card-body">
      <div>
        <div class="form-group">
          <label class="col-4 font-weight-bold">Code</label>
          <label class="col-8">{{employee.code}}</label>
        </div>

        <div class="form-group">
          <label class="col-4 font-weight-bold">gender</label>
          <label class="col-8">{{employee.gender}}</label>
        </div>
        <div class="form-group">
          <label class="col-4 font-weight-bold">Birth</label>
          <label class="col-8">{{employee.dateOfBirth}}</label>
        </div>
        <div class="form-group">
          <label class="col-4 font-weight-bold">Contact</label>
          <label class="col-8">{{employee.contactPreference}}</label>

        </div>
        <div class="form-group">
          <label class="col-4 font-weight-bold">Phone Number</label>
          <label class="col-8">{{employee.phoneNumber}}</label>

        </div>
        <div class="form-group">
          <label class="col-4 font-weight-bold">Email</label>
          <label class="col-8">{{employee.email}}</label>

        </div>
      </div>

    </div>
  </div>

</div>
